@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../../fonts/FiraSans-Regular.woff2") format("woff2"), url("../../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  font-display: swap;
  src: url("../../fonts/FiraSans-Medium.woff2") format("woff2"), url("../../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Literata;
  font-display: swap;
  src: url("../../fonts/Literata-Light.woff2") format("woff2"), url("../../fonts/Literata-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Literata;
  font-display: swap;
  src: url("../../fonts/Literata-Regular.woff2") format("woff2"), url("../../fonts/Literata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}