main {
  margin-top: 150px;
  margin-bottom: 45px;
  @media (max-width: 1200px) {
    margin-top: 128px;
    margin-bottom: 30px;
  }
  @media (max-width: 991px) {
    margin-top: 112px;
    margin-bottom: 30px;
  }
  @media (max-width: 600px) {
    margin-top: 88px;
  }
}

.banner {
  padding-bottom: 45px;
  @media (max-width: 1200px) {
    padding-bottom: 30px;
  }
  @media (max-width: 1200px) {
    padding-bottom: 24px;
  }
  &__wrapper {
    position: relative;
    display: flex;
    background-color: #E7E6E0;
    @media (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }
  &__text {
    padding: 112px 0 134px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    @media (max-width: 1760px) {
      padding: 100px 100px;
    }
    @media (max-width: 1200px) {
      padding: 60px 0;
    }
    @media (max-width: 768px) {
      padding: 35px 0;
    }
    @media (max-width: 600px) {
      padding: 115px 32px 40px 32px;
      height: 250px;
      width: 100%;
    }
  }
  &__title {
    font-family: 'Literata', Times, serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 68px;
    color: #323128;
    @media (max-width: 1760px) {
      line-height: 48px;
      font-size: 48px;
    }
    @media (max-width: 1200px) {
      font-size: 36px;
      line-height: 36px;
    }
    @media (max-width: 991px) {
      font-size: 28px;
      line-height: 28px;
    }
    @media (max-width: 600px) {
      margin-top: 8px;
      font-size: 22px;
      line-height: 26px;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #323128;
    @media (max-width: 1760px) {
      font-size: 22px;
    }
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 24px;
    }
    @media (max-width: 991px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 16px;
      margin-top: auto;
    }
  }
  &__img {
    width: 50%;
    @media (max-width: 600px) {
      width: 100%;
      height: 250px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.banner-offer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 316px;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #993131;
  transform: translate(-50%, -50%);
  @media (max-width: 1760px) {
    width: 240px;
    height: 240px;
  }
  @media (max-width: 1200px) {
    width: 180px;
    height: 180px;
  }
  @media (max-width: 991px) {
    width: 137px;
    height: 137px;
  }
  @media (max-width: 767px) {
    width: 127px;
    height: 127px;
  }
  @media (max-width: 600px) {
    top: 55%;
    width: 164px;
    height: 164px;
  }
  &__discount {
    position: relative;
    font-family: 'Literata', Times, serif;
    font-weight: 300;
    font-size: 160px;
    line-height: 160px;
    &::before {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(calc(50% + 18px));
      width: 60px;
      height: 2px;  
      background: #FFFFFF;
      content: '';
    }
    &::after {
      position: absolute;
      left: 100%;
      top: 50%;
      color: #FFFFFF;
      font-family: 'Literata', Times, serif;
      font-weight: 400;
      font-size: 64px;
      line-height: 68px;
      transform: translateY(calc(-50% + 18px));
      content: '%';
    }
    @media (max-width: 1760px) {
      font-size: 120px;
      line-height: 120px;
      &::before {
        transform: translateY(calc(50% + 10px));
        width: 40px;
      }
      &::after {
        font-weight: 400;
        font-size: 48px;
        line-height: 68px;
        transform: translateY(calc(-50% + 10px));
      }
    }
    @media (max-width: 1200px) {
      font-size: 100px;
      line-height: 100px;

      &::before {
        transform: translateY(calc(50% + 10px));
        width: 30px;
      }

      &::after {
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        transform: translateY(calc(-50% + 10px));
      }
    }
    @media (max-width: 991px) {
      font-size: 72px;
      line-height: 72px;

      &::after {
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
      }
    }
    @media (max-width: 767px) {
      font-size: 64px;
      line-height: 64px;
      &::before {
        width: 20px;
      }
    }
    @media (max-width: 600px) {
      font-size: 80px;
      line-height: 84px;
      &::before {
        transform: translateY(calc(50% + 10px));
        width: 30px;
      }
    
      &::after {
        margin-left: 5px;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        transform: translateY(calc(-50% + 5px));
      }
    }
  }
  &__caption {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    @media (max-width: 1760px) {
      font-size: 20px;
    }
    @media (max-width: 1200px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  
}

.categories {
  padding: 45px 0;
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
  @media (max-width: 1200px) {
    padding: 24px 0;
  }
  &__title {
    margin-bottom: 45px;
    @media (max-width: 1760px) {
      margin-left: 30px;
    }
    @media (max-width: 991px) {
      margin: 0 0 16px 16px;
    }
  }
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 400px 400px 600px;
    gap: 15px;
    @media (max-width: 1760px) {
      grid-template-rows: 330px 330px 330px 500px
    }
    @media (max-width: 1200px) {
      grid-template-rows: 250px 250px 250px 370px;
    }
    @media (max-width: 991px) {
      grid-template-rows: 185px 185px 185px 280px;
      gap: 8px;
    }
    @media (max-width: 991px) {
      grid-template-rows: 185px 185px 185px 280px;
    }
    @media (max-width: 767px) {
      grid-template-rows: 172px 172px 172px 258px;
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 375px 185px 185px 185px 185px 250px 250px;
    }
  }
  &__name {
    font-family: 'Literata', Times, serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    @media (max-width: 1200px) {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
    }
  }
  &__item {
    padding: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(85, 85, 85, 0.4);
    transition: box-shadow 0.3s;
    @media (max-width: 991px) {
      padding: 16px;
    }
    &:hover {
      box-shadow: unset;
      transition: box-shadow 0.3s;
    }
    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      @media (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
    &:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      align-items: center;
      justify-content: center;
      @media (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
      }
    }
    &:nth-child(3) {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      @media (max-width: 600px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
    &:nth-child(4) {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
      align-items: center;
      @media (max-width: 600px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
    &:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      align-items: center;
      @media (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
      }
    }
    &:nth-child(6) {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
      align-items: center;
      @media (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    }
    &:nth-child(7) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 6;
      align-items: end;
      @media (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
      }
    }
    &:nth-child(8) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 6;
      @media (max-width: 600px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
      }
    }
    &:nth-child(9) {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 6;
      @media (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
      }
    }
  }
  @media (max-width: 1760px) {
    &__container {
      padding: 0;
    }
  }
}

.advantages {
  padding: 45px 0;
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
  @media (max-width: 1200px) {
    padding: 24px 0;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 30px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% / 4);
    @media (max-width: 600px) {
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
  }
  &__img {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 48px;
    height: 48px;
    img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1200px) {
      margin-bottom: 2px;
    }
    @media (max-width: 991px) {
      width: 24px;
      height: 24px;
    }
    @media (max-width: 600px) {
      width: 48px;
      height: 48px;
      margin: 0 16px 0 0;
    }
  }
  &__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 20px;
    }
    @media (max-width: 991px) {
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__descr {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    @media (max-width: 1200px) {
      margin-top: 2px;
      font-size: 12px;
      line-height: 16px;
    }
    @media (max-width: 991px) {
      max-width: 155px;
      margin: 0 auto;
      font-size: 10px;
      line-height: 12px;
    }
    @media (max-width: 600px) {
      max-width: unset;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 600px) {
      align-items: flex-start;
    }
  }
}

.stories-rounds {
  padding: 45px 0;
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
  @media (max-width: 1200px) {
    padding: 24px 0;
  }
  &__wrapper {
    max-width: 1700px;
    margin: 0 auto;
    // margin-left: calc((100vw - 1700px) / 2);
    @media (max-width: 1200px) {
      max-width: unset;
      margin-left: calc((100vw - (100vw - 30px)));
    }
    @media (max-width: 991px) {
      margin-left: calc((100vw - (100vw - 16px)));
    }
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #333333;
    @media (max-width: 991px) {
      margin: 0 0 24px 16px;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
  }
  &__img {
    margin-bottom: 6px;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #333333;
  }
  &__list {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: unset;
    }
  }
  &__item {
    width: 115px;
  }
}

.stats {
  padding-bottom: 45px;
  @media (max-width: 1200px) {
    padding-bottom: 30px;
  }
  @media (max-width: 991px) {
    display: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 131px;
    color: #D0A550;
    border: 2px solid #F2E6CF;
    border-radius: 300px;
    &::before {
      position: absolute;
      right: calc(100% + 15px);
      width: calc(100% / 2);
      height: 2px;
      background: #F2E6CF;
      content: '';
      @media (max-width: 1760px) {
        width: 87px;
      }
      @media (max-width: 1200px) {
        width: 50px;
      }
    }
    &::after {
      position: absolute;
      left: calc(100% + 15px);
      width: calc(100% / 2);
      height: 2px;
      background: #F2E6CF;
      content: '';
      @media (max-width: 1760px) {
        width: 87px;
      }
    
      @media (max-width: 1200px) {
        width: 50px;
      }
    }
    @media (max-width: 1760px) {
      width: 200px;
      height: 200px;
      margin: 0 100px;
    }
    @media (max-width: 1300px) {
      margin: 0 auto;
    }
    @media (max-width: 1200px) {
      width: 160px;
      height: 160px;
    }
  }
  &__count {
    font-family:'Literata', Times, serif;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 128px;
    line-height: 128px;
    @media (max-width: 1760px) {
      font-size: 96px;
      line-height: 96px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 5px;
      font-size: 80px;
      line-height: 80px;
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    @media (max-width: 1760px) {
      font-size: 18px;
      line-height: 26px;
    }
    @media (max-width: 1200px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.offers {
  padding: 45px 0;
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
  &__wrapper {
    display: flex;
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 16px;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 2);
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  &__right {
    width: 50%;
    @media (max-width: 600px) {
      width: 100%;
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    margin-bottom: 8px;
    font-family: 'Literata', Times, serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 84px;
    color: #333333;
    @media (max-width: 1760px) {
      font-size: 64px;
      line-height: 68px;
    }
    @media (max-width: 1200px) {
      font-size: 48px;
      line-height: 52px;
    }
    @media (max-width: 991px) {
      font-size: 36px;
      line-height: 40px;
    }
    @media (max-width: 600px) {
      font-size: 32px;
      line-height: 36px;
    }
  }
  &__descr {
    margin-top: 15px;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #333333;
    @media (max-width: 991px) {
      margin-top: 8px;
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__button {
    padding: 10px 16px;
    max-width: 212px;
    margin-top: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #D0A550;
    border-radius: 4px;
    transition: background-color 0.3s;
    &:hover {
      background-color: #D6B168;
      transition: background-color 0.3s;
    }
    @media (max-width: 991px) {
      margin-top: 24px;
    }
  }
}

.about {
  padding: 45px 0;
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
  @media (max-width: 991px) {
    display: none;
  }
  &__wrapper {
    display: flex;
    gap: 60px;
  }
  &__column {
    width: calc(100% / 3);
    .about__paragraph {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &:nth-child(3) {
      .about__paragraph {
        margin-bottom: 60px;
        @media (max-width: 1760px) {
          margin-bottom: 45px;
        }
        @media (max-width: 1200px) {
          margin-bottom: 30px;
        }
      }
    }
  }
  &__title {
    margin-bottom: 60px;
    font-family: 'Literata', Times, serif;
    font-weight: 400;
    font-size: 128px;
    line-height: 132px;
    color: #333333;
    @media (max-width: 1760px) {
      margin-bottom: 45px;
      font-size: 96px;
      line-height: 100px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 30px;
      font-size: 80px;
      line-height: 84px;
    }
  }
  &__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;  
    color: #333333;
    @media (max-width: 1760px) {
      font-size: 18px;
      line-height: 26px;
    }
    @media (max-width: 1200px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__center {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__img {
    max-width: 100%;
    width: 100%;
    border-radius: 300px 300px 0px 0px;
    overflow: hidden;
    @media (max-width: 1760px) {
      max-width: 100%;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.offers--subscribe {
  .offers__wrapper {
    gap: 0;
  }
  .offers__left {
    order: 2;
  }
  .offers__right {
    order: 1;
    @media (max-width: 600px) {
      height: 210px;
    }
  }
}

.subscribe {
  display: flex;
  align-items: center;
  padding: 40px 0 50px 0;
  background: #FAFAFA;
  @media (max-width: 1760px) {
    padding: 40px 60px 50px 60px;
  }
  @media (max-width: 991px) {
    padding: 32px 16px;
  }
  &__title {
    max-width: 730px;
    margin-bottom: 15px;
    font-family: 'Literata', Times, serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #333333;
    @media (max-width: 1760px) {
      font-size: 36px;
      line-height: 40px;
    }
    @media (max-width: 1200px) {
      font-size: 22px;
      line-height: 26px;
    }
  }
  &__descr {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    @media (max-width: 991px) {
      max-width: 240px;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__form {
    input {
      padding: 10px 15px;
      width: 240px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #CCCCCC;
      }
      &:focus {
        outline: none;
        border: 1px solid #777777;
      }
    }
    .form-input__error-text {
      font-size: 14px;
      color: #FF3C38;
    }
  }
  &__button {
    margin-top: 15px;
    width: 240px;
    padding: 10px 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #D0A550;
    border-radius: 4px;
    transition: background-color 0.3s;
    &:hover {
      background-color: #D6B168;
      transition: background-color 0.3s;
    }
  }
}

.products {
  padding: 45px 0;
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
  @media (max-width: 1200px) {
    padding: 24px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    @media (max-width: 991px) {
      gap: 16px;
    }
  }
  &__button {
    display: none;
    @media (max-width: 600px) {
      margin-top: 16px;
      display: block;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #BB8E36;
      border: 1px solid #BB8E36;
      border-radius: 4px;
  
      @media (max-width: 991px) {
        font-size: 14px;
        line-height: 16px;
      }
  
      span {
        display: block;
        padding: 10px;
        width: 100%;
        height: 100%;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        transition: border 0.3s;
  
        @media (max-width: 991px) {
          padding: 8px;
        }
      }
  
      &:hover {
        span {
          border: 1px solid #BB8E36;
          transition: border 0.3s;
        }
      }
    }
  }
}


.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &__button {
    min-width: 24px;
    min-height: 24px;
    padding: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    transition: 0.3s;

    &:hover {
      border: 1px solid #777777;
      transition: 0.3s;
    }

    &--active {
      color: #FFFFFF;
      border: 1px solid #777777;
      background: #777777;
      border-radius: 2px;
    }
  }
}

.prices {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__value {
    margin-right: 10px;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #333333;

    @media (max-width: 991px) {
      margin-right: 8px;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__old {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;

    @media (max-width: 991px) {
      font-size: 12px;
    }
  }

  &__status {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;

    @media (max-width: 991px) {
      display: block;
      width: 100%;
      margin: 4px 0 0 0;
      font-size: 12px;
    }
  }
}

.products-product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 5 - 24px);
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  @media (max-width: 1760px) {
    width: calc(100% / 4 - 23px);
    &:nth-child(5) {
      display: none;
    }
  
    &:nth-child(10) {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    width: calc(100% / 3 - 20px);

    &:nth-child(4) {
      display: none;
    }

    &:nth-child(9) {
      display: none;
    }
  }
  @media (max-width: 991px) {
    width: calc(100% / 4 - 12px);

    &:nth-child(4) {
      display: flex;
    }

    &:nth-child(9) {
      display: flex;
    }
  }
  @media (max-width: 600px) {
    width: calc(100% / 2 - 8px);
    &:nth-child(5) {
      display: flex;
    }
  
    &:nth-child(10) {
      display: flex;
    }
  }
  &__header {
    position: relative;
  }
  &__box {
    padding: 20px 30px 30px 30px;
    @media (max-width: 991px) {
      padding: 13px 12px 20px 12px;
    }
  }
  &__info {
    padding: 20px 30px 0 30px;
    @media (max-width: 991px) {
      padding: 12px 12px 13px 12px;
    }
  }
  &__img, &__video {
    position: relative;
    display: block;
    max-width: 100%;
    height: 316px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    video, iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 991px) {
      height: 164px;
    }
  }
  &__video {
    position: relative;
  }
  &__control {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      transform: translate(-30%, -50%);
      background: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 10L1 19V1L15 10Z' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      @media (max-width: 1760px) {
        width: 13px;
        height: 13px;
      }
    }
    &--active {
      &::after {
        transform: translate(-35%, -50%);
        background: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='3' height='20' rx='1.5' fill='white'/%3E%3Crect x='10' width='3' height='20' rx='1.5' fill='white'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
      }
    }
    @media (max-width: 1760px) {
      width: 40px;
      height: 40px;
    }
    @media (max-width: 991px) {
      width: 24px;
      height: 24px;
    }
  }
  &__name {
    flex-grow: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__descr {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    @media (max-width: 991px) {
      margin-top: 6px;
      font-size: 12px;
    }
  }
  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 18.5px;
    right: 17.5px;
    z-index: 100;
    &:hover {
      svg {
        fill:#FFE2E1;
      }
    }
    &--active {
      svg {
        fill: #FF3C38;
      }
      &:hover {
        svg {
          fill: #FF3C38;
        }
      }
    }
    @media (max-width: 991px) {
      top: 12px;
      right: 12px;
    }
  }
  &__sticker {
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 4px;
    z-index: 100;
    @media (max-width: 991px) {
      left: 12px;
      bottom: 12px;
    }
  }
  &__discount {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    z-index: 100;
    @media (max-width: 991px) {
      padding: 4px 8px;
      font-size: 14px;
      line-height: 16px;
    }
    &--corner {
      top: 0;
      left: 0;
      padding: 0 8px;
      background: #FF3C38;
      border-radius: 8px 0px 16px;
      @media (max-width: 991px) {
        padding: 4px 8px;
      }
      &-brown {
        top: 0;
        left: 0;
        padding: 0 8px;
        background: #BB8E36;
        border-radius: 8px 0px 16px;
        @media (max-width: 991px) {
          padding: 4px 8px;
        }
      }
    }
    &--retro {
      top: 11px;
      left: 11px;
      padding: 0 9px;
      background-image: url(../../assets/img/icons/retro.png);
      background-size: contain;
      background-repeat: round;
      @media (max-width: 991px) {
        padding: 4px 8px;
      }
      &-brown {
        top: 11px;
        left: 11px;
        padding: 0 9px;
        background-image: url(../../assets/img/icons/retro-brown.png);
        background-size: contain;
        background-repeat: round;
        @media (max-width: 991px) {
          padding: 4px 8px;
        }
      }
    }
    &--label {
      top: 11px;
      left: 11px;
      padding: 0 8px 0 20px;
      background-image: url(../../assets/img/icons/label.png);
      background-size: contain;
      background-repeat: round;
      @media (max-width: 991px) {
        padding: 4px 8px 4px 15px;
      }
      &-brown {
        top: 11px;
        left: 11px;
        padding: 0 8px 0 20px;
        background-image: url(../../assets/img/icons/label-brown.png);
        background-size: contain;
        background-repeat: round;
        @media (max-width: 991px) {
          padding: 4px 8px 4px 15px;
        }
      }
    }
    &--round { 
      top: 11px;
      left: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      background: #FF3C38;
      border-radius: 300px;
      @media (max-width: 991px) {
        top: 8px;
        left: 8px;
        width: 40px;
        height: 40px;
        font-size: 14px;
      }
      &-brown {
        top: 11px;
        left: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        background: #BB8E36;
        border-radius: 300px;
        @media (max-width: 991px) {
          top: 8px;
          left: 8px;
          width: 40px;
          height: 40px;
          font-size: 14px;
        }
      }
    }
  }
  &__sizes {
    margin-top: 20px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__prices {
    margin-top: auto;
    margin-bottom: 10px;
    @media (max-width: 991px) {
      margin-bottom: 8px;
    }
  }
  &__button {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #BB8E36;
    border: 1px solid #BB8E36;
    border-radius: 4px;
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 16px;
    }
    span {
      display: block;
      padding: 10px;
      width: 100%;
      height: 100%;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      transition: border 0.3s;
      @media (max-width: 991px) {
        padding: 8px;
      }
    }
    &:hover {
      span {
        border: 1px solid #BB8E36;
        transition: border 0.3s;
      }
    }
  }
}









.stories {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  user-select: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  &--active {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  &__close {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 100;
    background-color: unset;  
  }
  &__control {
    position: absolute;
    top: 30px;
    left: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 1.4px;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: unset;
    z-index: 100;
    &::before {
      margin-right: 10px;
      
      content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0V9.93934L11.5 8.43934V3.17108L8.60617 5.54551L7.54036 4.4797L13 0Z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 14.0438L17.9697 19.0304L19.0304 17.9697L1.55941 0.439579L0.498747 1.50024L4.31891 5.33333H0V14.6667H6.5L13 20V14.0438ZM11.5 12.5387V16.8289L7.03662 13.1667H1.5V6.83333H5.81384L11.5 12.5387Z'%3E%3C/path%3E%3C/svg%3E");
    }
    &--active {
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.03662 13.1667L11.5 16.8289V3.17108L7.03662 6.83333H1.5V13.1667H7.03662ZM0 14.6667V5.33333H6.5L13 0V20L6.5 14.6667H0Z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.75 10C19.75 12.412 18.6368 14.7895 16.4785 16.5776L15.5215 15.4224C17.3632 13.8968 18.25 11.9311 18.25 10C18.25 8.06887 17.3632 6.1032 15.5215 4.57756L16.4785 3.42244C18.6368 5.21051 19.75 7.58799 19.75 10Z'%3E%3C/path%3E%3C/svg%3E");
      }
    }
  }
  &__slider {
    top: 50%;
    transform: translateY(-50%);
    height: 90vh;
    max-height: 800px;
  }
  &__item {
    max-width: 100%;
    max-height: 100%;
  }
}

.story {
  height: 100%;
  background-color: #000000;
  &__details {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    transition: opacity .25s ease-out;
    will-change: opacity;
    transform: translateZ(0);
  }
  &__progress {
    display: flex;
    margin: 0 0 10px;
    transition: opacity .25s ease-out;
    opacity: 0;
  }
  &__progress-bar {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    height: 2px;
    border-radius: 2px;
    background: hsla(0, 0%, 100%, .2);
    &:not(:first-child) {
      margin-left: 2px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__avatar {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__title {
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
  }
  &__date {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
  }
  &__content {
    &-items {
      height: 100%;
    }
    &-item_video {
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__video, &__image {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }
}

.swiper-slide {
  width: 500px;
  cursor: pointer;
}

.product-preview {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-slide-active {
  .story__progress {
    opacity: 1;
  }
}

.story__progress-bar-line {
  height: 100%;
  background: #fff;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

.story__progress-bar_playing .story__progress-bar-line {
  animation: 5s story-bar-progressing forwards linear;
}

.story__progress-bar_finished .story__progress-bar-line {
  transform: scaleX(1);
  animation: none;
}

.story__content-item {
  display: none;
}

.story__content-item_visible {
  display: block;
}

@keyframes story-bar-progressing {
  0% {
    transform: scaleX(0)
  }

  to {
    transform: scaleX(1)
  }
}

.swiper-slide {
  height: auto;
}