.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: left 0.5s;
}

.card-carousel .my-card {
  height: 80vh;
  width: 200px;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  transition: 0.5s;
}

.card-carousel .my-card.active {
  z-index: 3;
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}

.card-carousel .my-card.prev,
.card-carousel .my-card.next {
  z-index: 2;
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}