main {
  margin-top: 30px;
  margin-bottom: 45px;
  overflow-x: hidden;
}


.gallery {
  display: flex;
  gap: 30px;
  &__navigation {
    width: 90px;
    @media (max-width: 991px) {
      width: 100%;
      max-height: 96px;
      height: 96px;
    }
  }
  &__images {
    width: calc(100% - 90px);
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    flex-direction: column-reverse;
  }
  @media (max-width: 600px) {
    gap: 8px;
  }
}

.product-images {
  position: relative;
  @media (max-width: 768px) {
    height: 400px;
    max-height: 400px;
  }
  @media (max-width: 600px) {
    height: 375px;
  }
  &__button {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 600px) {
      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
  &__video {
    position: relative;
  }
  &__img {
    width: max-content;
    height: 100%;
    max-width: 100%;
    margin: auto auto;
    img {
      max-width: 100%;
      height: 100%;
    }
  }
  &__video {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: auto auto;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    video,
    iframe,
    img {
      opacity: 1;
      transition: opacity 0.3s;
    }
    &--active {
      iframe,
      video,
      img {
        opacity: 0.5;
        transition: opacity 0.3s;
      }
    }
  }
  &__next, &__prev {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 300px;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    @media (max-width: 600px) {
      display: none;
    }
  }
  &__prev {
    left: 30px;
  }
  &__next {
    right: 30px;
  }
}

.product-navigation {
  .swiper-slide {
    cursor: pointer;
  }
  .product-images__video {
    position: relative;
    width: max-content;
    height: 100%;
    max-width: 100%;
    margin: auto auto;
  
    img {
      max-width: 100%;
      height: 100%;
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 48px;
      height: 48px;
      background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44 24C44 35.0457 35.0457 44 24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4C35.0457 4 44 12.9543 44 24Z' fill='%23333333' fill-opacity='0.5'/%3E%3Cpath d='M33 24L19 33V15L33 24Z' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      content: '';
    }
    &--active {
      &::after {
        opacity: 0.5;
      }
    }
  }
}

.product {
  &__wrapper {
    display: flex;
    gap: 90px;
    @media (max-width: 991px) {
      gap: 45px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 600px) {
      gap: 32px;
    }
  }

  &__left, &__right {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__header {
    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__gallery {
    margin-bottom: 45px;
    max-height: 685px;
    height: 685px;
    @media (max-width: 768px) {
      height: unset;
      max-height: unset;
    }
    @media (max-width: 600px) {
      margin-bottom: 0;
    }
  }

  &__description {
    &:first-child {
      margin-bottom: 45px;
      @media (max-width: 600px) {
        margin-bottom: 32px;
      }
    }
    @media (max-width: 600px) {
      margin-bottom: 32px;
    }
  }

  &__code {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
    @media (max-width: 768px) {
      order: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Literata', Times, serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    color: #333333;
    @media (max-width: 1200px) {
      font-size: 36px;
      line-height: 48px;
    }
    @media (max-width: 768px) {
      order: 2;
    }
    @media (max-width: 600px) {
      margin-bottom: 32px;
      font-size: 26px;
      line-height: 32px;
    }
  }

  &__fav {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    @media (max-width: 768px) {
      order: 1;
      margin-left: auto;
    }
    @media (max-width: 600px) {
      margin-bottom: 8px;
    }
    svg {
      margin-right: 4px;
      fill: #FFFFFF;
      transition: fill 0.3s;
    }
    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #333333;
    }
    &:hover {
      svg {
        fill: #FBE1D9;
        transition: fill 0.3s;
      }
    }
    &--active {
      &:hover {
        svg {
          fill: #FF3C38;
          path {
            stroke: #FF3C38;
          }
        }
      }
      svg {
        fill:#FF3C38;
        path {
          stroke:#FF3C38;
        }
      }
    }
  }

  &__sizes {
    margin-bottom: 45px;
    @media (max-width: 600px) {
      margin-bottom: 32px;
    }
  }

  &__price {
    margin-bottom: 15px;
  }

  &__purchase {
    margin-bottom: 15px;
    @media (max-width: 600px) {
      margin-bottom: 24px;
    }
  }

  &__disclaimer {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #777777;
    @media (max-width: 600px) {
      margin-bottom: 24px;
    }
  }

  &__options {
    margin-bottom: 45px;
  }

  &__delivery {
    margin-bottom: 45px;
    @media (max-width: 600px) {
      margin-bottom: 32px;
    }
  }

  &__specs {
    margin-bottom: 90px;
  }

  &__info {
    @media (max-width: 600px) {
      display: none;
    }
    &--mobile {
      display: none;
      @media (max-width: 600px) {
        display: block;
      }
    }
  }
}

.products {
  padding: 45px 0;

  &__slider {
    position: relative;
    &-prev {
      position: absolute;
      top: 50%;
      left: -20px;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: #FFFFFF;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
      border-radius: 300px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    &-next {
      position: absolute;
      top: 50%;
      right: -20px;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: #FFFFFF;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
      border-radius: 300px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__button {
    display: none;

    @media (max-width: 600px) {
      margin-top: 16px;
      display: block;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #BB8E36;
      border: 1px solid #BB8E36;
      border-radius: 4px;

      span {
        display: block;
        padding: 10px;
        width: 100%;
        height: 100%;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        transition: border 0.3s;
      }

      &:hover {
        span {
          border: 1px solid #BB8E36;
          transition: border 0.3s;
        }
      }
    }
  }

  .products-product {
    height: 100%;
  }
}

.products-product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;

  &__header {
    position: relative;
  }

  &__box {
    padding: 20px 30px 30px 30px;

    @media (max-width: 991px) {
      padding: 13px 12px 20px 12px;
    }
  }

  &__info {
    padding: 20px 30px 0 30px;

    @media (max-width: 991px) {
      padding: 12px 12px 13px 12px;
    }
  }

  &__img,
  &__video {
    position: relative;
    display: block;
    max-width: 100%;
    height: 316px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video, iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 991px) {
      height: 164px;
    }
  }

  &__video {
    position: relative;
  }

  &__control {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      transform: translate(-30%, -50%);
      background: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 10L1 19V1L15 10Z' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';

      @media (max-width: 1760px) {
        width: 13px;
        height: 13px;
      }
    }

    &--active {
      &::after {
        transform: translate(-35%, -50%);
        background: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='3' height='20' rx='1.5' fill='white'/%3E%3Crect x='10' width='3' height='20' rx='1.5' fill='white'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
      }
    }

    @media (max-width: 1760px) {
      width: 40px;
      height: 40px;
    }

    @media (max-width: 991px) {
      width: 24px;
      height: 24px;
    }
  }

  &__name {
    flex-grow: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__descr {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;

    @media (max-width: 991px) {
      margin-top: 6px;
      font-size: 12px;
    }
  }

  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 18.5px;
    right: 17.5px;
    z-index: 100;

    &:hover {
      svg {
        fill: #FFE2E1;
      }
    }

    &--active {
      svg {
        fill: #FF3C38;
      }

      &:hover {
        svg {
          fill: #FF3C38;
        }
      }
    }

    @media (max-width: 991px) {
      top: 12px;
      right: 12px;
    }
  }

  &__sticker {
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 4px;
    z-index: 100;

    @media (max-width: 991px) {
      left: 12px;
      bottom: 12px;
    }
  }

  &__discount {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    z-index: 100;

    @media (max-width: 991px) {
      padding: 4px 8px;
      font-size: 14px;
      line-height: 16px;
    }

    &--corner {
      top: 0;
      left: 0;
      padding: 0 8px;
      background: #FF3C38;
      border-radius: 8px 0px 16px;

      @media (max-width: 991px) {
        padding: 4px 8px;
      }

      &-brown {
        top: 0;
        left: 0;
        padding: 0 8px;
        background: #BB8E36;
        border-radius: 8px 0px 16px;

        @media (max-width: 991px) {
          padding: 4px 8px;
        }
      }
    }

    &--retro {
      top: 11px;
      left: 11px;
      padding: 0 9px;
      background-image: url(../../assets/img/icons/retro.png);
      background-size: contain;
      background-repeat: round;

      @media (max-width: 991px) {
        padding: 4px 8px;
      }

      &-brown {
        top: 11px;
        left: 11px;
        padding: 0 9px;
        background-image: url(../../assets/img/icons/retro-brown.png);
        background-size: contain;
        background-repeat: round;

        @media (max-width: 991px) {
          padding: 4px 8px;
        }
      }
    }

    &--label {
      top: 11px;
      left: 11px;
      padding: 0 8px 0 20px;
      background-image: url(../../assets/img/icons/label.png);
      background-size: contain;
      background-repeat: round;

      @media (max-width: 991px) {
        padding: 4px 8px 4px 15px;
      }

      &-brown {
        top: 11px;
        left: 11px;
        padding: 0 8px 0 20px;
        background-image: url(../../assets/img/icons/label-brown.png);
        background-size: contain;
        background-repeat: round;

        @media (max-width: 991px) {
          padding: 4px 8px 4px 15px;
        }
      }
    }

    &--round {
      top: 11px;
      left: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      background: #FF3C38;
      border-radius: 300px;

      @media (max-width: 991px) {
        top: 8px;
        left: 8px;
        width: 40px;
        height: 40px;
        font-size: 14px;
      }

      &-brown {
        top: 11px;
        left: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        background: #BB8E36;
        border-radius: 300px;

        @media (max-width: 991px) {
          top: 8px;
          left: 8px;
          width: 40px;
          height: 40px;
          font-size: 14px;
        }
      }
    }
  }

  &__sizes {
    margin-top: 20px;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__prices {
    margin-top: auto;
    margin-bottom: 10px;

    @media (max-width: 991px) {
      margin-bottom: 8px;
    }
  }

  &__button {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #BB8E36;
    border: 1px solid #BB8E36;
    border-radius: 4px;

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 16px;
    }

    span {
      display: block;
      padding: 10px;
      width: 100%;
      height: 100%;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      transition: border 0.3s;

      @media (max-width: 991px) {
        padding: 8px;
      }
    }

    &:hover {
      span {
        border: 1px solid #BB8E36;
        transition: border 0.3s;
      }
    }
  }
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &__button {
    min-width: 24px;
    min-height: 24px;
    padding: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #777777;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    transition: 0.3s;

    &:hover {
      border: 1px solid #777777;
      transition: 0.3s;
    }

    &--active {
      color: #FFFFFF;
      border: 1px solid #777777;
      background: #777777;
      border-radius: 2px;
    }
  }
}

.prices {
  display: flex;
  align-items: center;

  &__value {
    margin-right: 10px;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #333333;
  }

  &__old {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }

  &__status {
    margin: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }
}

.description {
  &__title {
    margin-bottom: 10px;
  }
  &__paragraph {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
  &__expand {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BB8E36;
  }
}

.size {
  &__title {
    margin-bottom: 10px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__button {
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    transition: border 0.3s;
    &:hover {
      border: 1px solid #777777;
      transition: border 0.3s;
    }
    &--active {
      color: #FFFFFF;
      border: 1px solid #777777;
      background: #777777;
    }
  }
}

.price {
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__value {
    margin-right: 15px;
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    color: #333333;
    @media (max-width: 991px) {
      font-size: 28px;
    }
  }
  &__discount {
    margin-right: 15px;
    padding: 4px 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background-image: url(../../assets/img/icons/retro.png);
    background-size: contain;
    background-repeat: round;
  }
  &__old {
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
  &__status {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4EBC5E;
  }
}

.purchase {
  display: flex;
  align-items: center;
  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
  &__button {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 16px;
    background-color: #D0A550;
    border-radius: 4px;
    transition: background-color 0.3s;
    @media (max-width: 1760px) {
      margin-right: 10px;
    }
    @media (max-width: 1200px) {
      margin-bottom: 8px;
    }
    @media (max-width: 660px) {
      margin-bottom: 24px;
    }
    svg {
      margin-right: 8px;
    }
    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
    &:hover {
      background-color: #D6B168;
      transition: background-color 0.3s;
    }
  }
}

.plan {
  display: flex;
  align-items: center;
  &__logo {
    margin-right: 16px;
    display: flex;
    @media (max-width: 1760px) {
      max-width: 85px;
      margin-right: 8px;
      svg {
        width: 100%;
      }
    }
    @media (max-width: 660px) {
      margin-right: 12px;
    }
  }
  &__info {
    margin-right: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    @media (max-width: 1760px) {
      font-size: 14px;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BB8E36;
    @media (max-width: 1760px) {
      font-size: 14px;
    }
  }
}

.options {
  &__title {
    margin-bottom: 15px;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 745px;
    gap: 15px;
  }
  &__item {
    width: 80px;
    .options__img {
      position: relative;
  
      &:after {
        opacity: 0;
        transition: opacity 0.3s;
        content: '';
      }
    }
    &:hover {
      .options__img {
        position: relative;
        &:after {
          position: absolute;
          top: -4px;
          left: -4px;
          width: 80px;
          height: 80px;
          border: 2px solid #777777;
          opacity: 1;
          transition: opacity 0.3s;
          content: '';
        }
      }
    }
    &--active {
      .options__img {
        position: relative;

        &:after {
          position: absolute;
          top: -4px;
          left: -4px;
          width: 80px;
          height: 80px;
          border: 2px solid #333333;
          opacity: 1;
          content: '';
        }
      }
      &:hover {
        .options__img {
          position: relative; 
          &:after {
            border: 2px solid #333333;
          }
        }
      }
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 72px;
    height: 72px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__caption {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    text-align: center;
  }
}

.delivery {
  &__title {
    margin-bottom: 10px;
  }
  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 10px;
      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    &--gold {
      color: #BB8E36;
    }
  }
}

.specs {
  display: flex;
  gap: 90px;
  @media (max-width: 1200px) {
    gap: 45px;
  }
  @media (max-width: 991px) {
    flex-direction: column;
    gap: 32px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__column {
    width: 50%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__caption {
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    span {
      position: relative;
      background-color: #FFFFFF;
      z-index: 1;
    }
    &::after {
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 4px;
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #ECECEC;
      content: '';
    }
  }
  &__value {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto;
}

.recommendations-slider, .seen-slider {
  @media (max-width: 600px) {
    .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
      }
    
      .swiper-slide {
        width: calc((100% / 2) - 8px);
    
        .products-product {
          height: 100%;
        }
      }
  }
}


.products__slider {
  @media (max-width: 600px) {
    .products__slider-prev, .products__slider-next {
      display: none;
    }
  }
}