<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Главная</title>
  <meta charset="UTF-8">
  <meta content="no-cache" http-equiv="cache-control"/>
  <meta content="no-cache" http-equiv="pragma"/>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
        name="viewport">
</head>
<body>
<%= require('../../partials/header.html?raw') %>
<main>
  <section class="breadcrumbs">
    <div class="breadcrumbs__container">
      <nav class="breadcrumbs__wrapper">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="#">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 5.5L2.5 7.5" stroke="#777777" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.5 5.5L13.5 7.5" stroke="#777777" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.5 5.5L8 2L4.5 5.5V12.5H11.5V5.5Z" stroke="#777777" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#">
              Каталог
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#">
              Страшные Скидки
            </a>
          </li>
          <li class="breadcrumbs__item">
            Полотенце Arya Однотонное Miranda Soft
          </li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="product">
    <div class="product__container">
      <div class="product__wrapper">
        <div class="product__left">
          <div class="product__description description">
            <div class="description__title title">Описание</div>
            <p class="description__paragraph">
              Халат Arya Miranda Soft синего цвета, выполнен из высококачественного хлопка. Приятная на ощупь ворсинистая фактура ткани. Халат хорошо впитывает влагу. Можно использовать для повседневной домашней носки. Подходит для мужчин и женщин.
            </p>
            <button class="description__expand">Развернуть</button>
          </div>
          <div class="product__description description">
            <div class="description__title title">Уход</div>
            <p class="description__paragraph">
              Стирать в прохладной воде (t=40 С); Химчистка с углеводородом и хлорэтиленом; Отбеливание запрещено; Глажка при низкой температуре (t&lt;110 C); Сушка и при средней температуре:
            </p>
          </div>
        </div>
        <div class="product__right">
          <span class="product__code">Артикул: 8680943039507</span>
          <div class="product__title">Полотенце Arya Miranda Soft однотонное бежевое 70×140</div>
          <button class="product__fav product__fav--active">
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 0.5C12.5 0.5 10 2.5 10 4.5C10 2.5 7.5 0.5 5 0.5C2.5 0.5 0.5 2.5 0.5 5.5C0.5 8.5 2.5 14.5 10 17.5C17.5 14.5 19.5 8.5 19.5 5.5C19.5 2.5 17.5 0.5 15 0.5Z" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>Отложить</span>
          </button>
          <div class="product__sizes sizes">
            <div class="sizes__title title">Размер</div>
            <div class="sizes__wrapper">
              <button class="sizes__button">100×150см</button>
              <button class="sizes__button">30×50см</button>
              <button class="sizes__button">50×90см</button>
              <button class="sizes__button sizes__button--active">70×140см</button>
            </div>
          </div>
          <div class="product__price price">
            <div class="price__wrapper">
              <span class="price__value">1 139 ₽</span>
              <span class="price__discount">-70%</span>
              <del class="price__old">4 556 ₽</del>
              <span class="price__status">В наличии</span>
            </div>
          </div>
          <div class="product__purchase purchase">
            <button class="purchase__button">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.5 20C18.5 20.8284 17.8284 21.5 17 21.5C16.1716 21.5 15.5 20.8284 15.5 20C15.5 19.1716 16.1716 18.5 17 18.5C17.8284 18.5 18.5 19.1716 18.5 20Z" stroke="white"/>
                <path d="M8.5 20C8.5 20.8284 7.82843 21.5 7 21.5C6.17157 21.5 5.5 20.8284 5.5 20C5.5 19.1716 6.17157 18.5 7 18.5C7.82843 18.5 8.5 19.1716 8.5 20Z" stroke="white"/>
                <path d="M17.0002 16.5H8.00024C7.00024 16.5 6.00024 15 7.50023 13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.5 3.5C4 3.5 5 4 5.5 5.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.5 5.5L7.5 13.5L19.5 12.5L21.5 5.5H5.5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>В корзину</span>
            </button>
            <div class="purchase__plan plan">
              <div class="plan__logo">
                <svg width="99" height="14" viewBox="0 0 99 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_802_862)">
                  <path d="M79.5932 6.21306L75.8318 2.03125H73.6328V11.7136H75.9287V5.53608L79.3628 9.19605H79.7871L83.1622 5.53608V11.7136H85.4581V2.03125H83.2591L79.5932 6.21306Z" fill="#333333"/>
                  <path d="M96.3967 2.03125L90.7061 8.32442V2.03125H88.4102V11.7136H90.5136L96.2042 5.42042V11.7136H98.5001V2.03125H96.3967Z" fill="#333333"/>
                  <path d="M61.266 5.57416C61.266 7.11572 62.1091 8.33007 63.4032 8.83922L60.9766 11.7136H63.7868L65.9942 9.09873H68.3828V11.7136H70.6787V2.03125H64.8335C62.6542 2.03125 61.266 3.52203 61.266 5.57416ZM68.3842 4.16376V7.02686H65.2593C64.2167 7.02686 63.6575 6.44578 63.6575 5.5939C63.6575 4.74202 64.2364 4.16094 65.2593 4.16094L68.3842 4.16376Z" fill="#333333"/>
                  <path d="M50.598 3.96772C50.4575 7.29766 49.755 9.4471 48.3794 9.4471H48.0352V11.7714L48.4019 11.7912C51.1601 11.9449 52.6846 9.52467 52.9347 4.23852H56.5627V11.7136H58.8544V2.03125H50.6753L50.598 3.96772Z" fill="#333333"/>
                  <path d="M41.9546 1.89648C38.8493 1.89648 36.6152 4.04592 36.6152 6.87235C36.6152 9.7961 39.046 11.8694 41.9546 11.8694C44.984 11.8694 47.3375 9.68044 47.3375 6.87235C47.3375 4.06426 44.984 1.89648 41.9546 1.89648ZM41.9546 9.54505C40.1996 9.54505 39.0039 8.40263 39.0039 6.87235C39.0039 5.30399 40.201 4.1926 41.9546 4.1926C43.7082 4.1926 44.9446 5.35477 44.9446 6.87235C44.9446 8.38993 43.6913 9.54505 41.9546 9.54505Z" fill="#333333"/>
                  <path d="M34.1801 2.0498H26.077L25.9997 3.98627C25.8845 6.77603 25.1566 9.42898 23.781 9.46706L23.1445 9.48681V14.0001L25.4601 13.9954V11.7152H33.5043V13.9954H35.8396V9.46706H34.1801V2.0498ZM31.8842 9.46706H26.9847C27.8137 8.20899 28.2577 6.38817 28.3349 4.25848H31.8842V9.46706Z" fill="#333333"/>
                  <path d="M15.0332 0.230469H16.1862V11.0766H15.0332V0.230469Z" fill="#333333" stroke="#333333"/>
                  <path d="M0.5 2.6543H1.65301V13.5005H0.5V2.6543Z" fill="#333333" stroke="#333333"/>
                  <path d="M5.34375 1.8457H6.49676V12.6919H5.34375V1.8457Z" fill="#333333" stroke="#333333"/>
                  <path d="M10.1885 1.03809H11.3415V11.8842H10.1885V1.03809Z" fill="#333333" stroke="#333333"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_802_862">
                  <rect width="98.5" height="14" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="plan__info">4 платежа по 285 ₽</div>
              <a href="#" class="plan__link">Подробнее</a>
            </div>
          </div>
          <div class="product__disclaimer">Цена действительна только для интернет-магазина и может отличаться от цен в розничных магазинах</div>
          <div class="product__options options">
            <div class="options__title title">Цвет</div>
            <ul class="options__wrapper">
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-1.png') %>" alt=""></span>
                  <span class="options__caption">Аква</span>
                </a>
              </li>
              <li class="options__item options__item--active">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-2.png') %>" alt=""></span>
                  <span class="options__caption">Бежевый</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-3.png') %>" alt=""></span>
                  <span class="options__caption">Аква</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-4.png') %>" alt=""></span>
                  <span class="options__caption">Бежевый</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-5.png') %>" alt=""></span>
                  <span class="options__caption">Светло-голубой</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-6.png') %>" alt=""></span>
                  <span class="options__caption">Бежевый</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-7.png') %>" alt=""></span>
                  <span class="options__caption">Аква</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-8.png') %>" alt=""></span>
                  <span class="options__caption">Бежевый</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-9.png') %>" alt=""></span>
                  <span class="options__caption">Аква</span>
                </a>
              </li>
              <li class="options__item">
                <a href="#" class="options__button">
                  <span class="options__img"><img src="<%= require('../../assets/img/product-options/option-10.png') %>" alt=""></span>
                  <span class="options__caption">Бежевый</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="product__delivery delivery">
            <div class="delivery__title title">Доставка</div>
            <p class="delivery__paragraph">Бесплатно по всей России при заказе от 3 000 ₽</p>
            <p class="delivery__paragraph delivery__paragraph--gold">Москва от 165 ₽</p>
            <p class="delivery__paragraph delivery__paragraph--gold">Срочная доставка сервисом Яндекс</p>
          </div>
          <div class="product__specs specs">
            <div class="specs__column">
              <div class="specs__title title">Характеристики</div>
              <ul class="specs__list">
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Материал</span>
                  </div>
                  <span class="specs__value">Махра</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Тип</span>
                  </div>
                  <span class="specs__value">Банное</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Модель</span>
                  </div>
                  <span class="specs__value">Miranda Soft</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Размер</span>
                  </div>
                  <span class="specs__value">70×140см</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Состав</span>
                  </div>
                  <span class="specs__value">100% Хлопок</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Плотность</span>
                  </div>
                  <span class="specs__value">500 гр/м2</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Цвет</span>
                  </div>
                  <span class="specs__value">Бежевый</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Рисунок</span>
                  </div>
                  <span class="specs__value">Однотонный</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Серия</span>
                  </div>
                  <span class="specs__value">Soft</span>
                </li>
              </ul>
            </div>
            <div class="specs__column">
              <div class="specs__title title">Упаковка</div>
              <ul class="specs__list">
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Ширина</span>
                  </div>
                  <span class="specs__value">25.4 см</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Высота</span>
                  </div>
                  <span class="specs__value">5.3 см</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Длина</span>
                  </div>
                  <span class="specs__value">36.2 см</span>
                </li>
                <li class="specs__item">
                  <div class="specs__caption">
                    <span>Вес</span>
                  </div>
                  <span class="specs__value">0.499 кг</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= require('../../partials/footer.html?raw') %>
</body>
</html>
