.footer {
  background-color: #FAFAFA;
  @media (max-width: 1200px) {
    padding-bottom: 58px;
  }
  &__top {
    padding: 60px 0 30px 0;
    display: flex;
    gap: 30px;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 60px 30px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
  }
  &__item { 
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    transition: color 0.2s;
    &:hover {
      color: #D6B168;
      transition: color 0.2s;
    }
  }
  &__phone {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #777777;
    @media (max-width: 600px) {
      color: #BB8E36;
    }
  }
  &__email {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
  }
  &__socials {
    display: flex;
    gap: 16px;
  }
  &__column {
    width: calc(100% / 4);
    @media (max-width: 1200px) {
      width: calc(100% / 2 - 15px);
    }
    @media (max-width: 600px) {
      &:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
  &__bottom {
    padding: 30px 0;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  &__link {
    &:first-child {
      margin-right: 30px;
    }
    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }
  &__copyright {
    margin-left: auto;
    @media (max-width: 600px) {
      margin: 30px 0 0 0;
    }
  }
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 300px;
  transition: border 0.3s;
  &:hover {
    border: 1px solid #777777;
    transition: border 0.3s;
  }
}