.header {
  position: relative;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);

  &__bottom {
    display: flex;
    align-items: center;
    padding: 12px 30px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__catalog {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-right: 30px;
    background-color: #D0A550;
    border-radius: 4px;
    svg {
      margin-right: 8px;
    }
    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }

  &__menu {
    display: flex;
    gap: 30px;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }

  &__search {
    position: relative;
    margin: 0 112px;
    input {
      padding: 10px 40px 10px 15px;
      max-width: 240px;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #CCCCCC;
      }
      &:focus {
        outline: none;
        border: 1px solid #777777;
      }
    }
    button {
      position: absolute;
      top: 50%;
      right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);
    }
  }

  &__favourites {
    position: relative;
    margin-left: auto;
    margin-right: 50px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__cart {
    position: relative;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__count {
    position: absolute;
    top: -10px;
    right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #FF3C38;
    border-radius: 300px;
  }

  &__login {
    display: flex;
    align-items: center;
    margin-left: auto;
    svg {
      margin-right: 5px;
    }
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
    }
    &:hover {
      svg {
        .path-stroke {
          stroke: #BB8E36;
          transition: stroke 0.3s;
        }
        .path-fill {
          fill: #BB8E36;
          transition: fill 0.3s;
        }
      }
      span {
        color: #BB8E36;
        transition: color 0.3s;
      }
    }
  }
}

.header-bar {
  display: flex;
  justify-content: center;
  padding: 6px 30px;
  background-color: #F2E6CF;
  &__caption {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
}

.close-bar {
  display: flex; 
  align-items: center;
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #BB8E36;
  }
}

.header-dropdown {
  position: absolute;
  top: calc(100% - 5px);
  left: 50%;
  z-index: 1000;
  width: max-content;
  transform: translateX(-50%);
  &__wrapper {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px 30px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  }
  &__list {
    width: calc(100% / 6 - 25px);
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &:first-child {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
  }
}